{
  "author": {
    "author_id": "{{ author_id }}",
    "display_name": "{{ author }}",
    "email": "plugins@ultimaker.com",
    "website": "{{ website_author }}"
  },
  "description": "{{ description }}",
  "display_name": "{{ display_name }}",
  "package_id": "{{ package_id }}",
  "package_type": "plugin",
  "package_version": "{{ version }}",
  "sdk_version": {{ sdk_version_major }},
  "sdk_version_semver": "{{ sdk_version }}",
  "website": "{{ website }}"
}